@{
    ViewData["Title"] = "Home Page";
}

<style type="text/class">
.centerImage
{
    text-align:center;
    display:block;
}
</style>

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>My thoughts on the process behind creating my final process.</p>
<hr />
    <img src="~/images/logo1.png" alt="Fitness Companion logo" class="centerImage" style="width:10%" />
</div>
