@{
    ViewData["Title"] = "Home Page";
}

<style type="text/class">
.centerImage
{
    text-align:center;
    display:block;
}
</style>

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>My process on creating my final project.</p>
<hr />
    <img src="~/images/NewLogo1.png" alt="Fitness Companion logo" class="centerImage" style="width:10%" />
</div>
