html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nice-headline {
    font-family: Candara, Calibri, 'Trebuchet MS', sans-serif;
    color: #033769;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
}
.intro {
    font-family: Candara, Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 18px;
    text-align: center;
}
.trial {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 22px;
    min-height: 0px;
    margin-bottom: 23px;
    background-image: url(https://cdn.builder.io/api/v1/file/assets%2Fanonymous%2Fecf6e2cc9039479f9822675f05545861);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.carousel-control-next,
.carousel-control-prev{
    filter: invert(100%);
}