@model TDEE_BMR_Macro_MVC.Models.UserModel

<h1 class="nice-headline">Your BMR - TDEE - Macros</h1>
<h4 class="intro">Use the calculator below to learn what your Basal Metabloic Rate, Total Daily Energy Expenditure and Macronutrient requirements are for your fitness goals!</h4>
<hr />
<div class="container-fluid">
    <div class="container-fluid">
        <form asp-action="UserCalculatedInfo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-check form-check-inline">
                <label asp-for="Gender" class="form-check-label">Male</label>
                <input asp-for="Gender" class="form-check-input" type="radio" value="male"/>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-check form-check-inline">
                <label asp-for="Gender" class="form-check-label">Female</label>
                <input asp-for="Gender" class="form-check-input" type="radio" value="female" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="container-fluid mt-3">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="container-fluid mt-3">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="container-fluid mt-3">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="container-fluid mt-3">
                <label for="" class="form-label">Activity Level</label>
                <select class="form-select" name="ActivityLevel">
                    <option value="se">Sedentary (no activity)</option>
                    <option value="la">Lightly Active (Exercise 1-2 Days/Week)</option>
                    <option value="ma">Moderately Active (Exercise 3-5 Days/Week)</option>
                    <option value="va">Very Active (Exercise 6-7 Days/Week)</option>
                    <option value="ea">Extra Active (Exercise 2x Day)</option>
                </select>
                <span asp-validation-for="ActivityLevel" class="text-danger"></span>
            </div>
            <div class="container-fluid mt-3">
                <label asp-for="CalorieTargetModifier" class="form-label"></label>
                <select class="form-select">
                    <option value="1">Aggressive Cut (-500 calories)</option>
                    <option value="2">Mild Cut (-250 Calories)</option>
                    <option value="3">Maintenance (+0 Calories)</option>
                    <option value="4">Mild Bulk (+250 Calories)</option>
                    <option value="5">Aggressive Bulk (+500 Calories)</option>
                </select>
                <span asp-validation-for="CalorieTargetModifier" class="text-danger"></span>
            </div>
            <div class="container-fluid mt-3">
                <label for="" class="control-label">Macro Distribution</label>
                <select class="form-select" name="CarbLevel">
                    <option value="1">Protien: 30% / Fat: 35% / Carbs: 35%</option>
                    <option value="2">Protien: 40% / Fat: 40% / Carbs: 20%</option>
                    <option value="3">Protien: 30% / Fat: 20% / Carbs: 50%</option>
                </select>
                <span asp-validation-for="CarbLevel" class="text-danger"></span>
            </div>
            <div class="container-fluid mt-4">
                <input type="submit" value="Calculate" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
